<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
    <link rel="stylesheet" type="text/css" th:href="@{/main.css}">
</head>
<body>

    <div style="text-align: center;">
        <h4 id="info"></h4>

        <ul id="messages">

        </ul>

        <form onsubmit="sendMessage(); return false;">
            <input type="text" id="messageArea" placeholder="Wpisz wiadomość">
        </form>

        <br/>

        <form onsubmit="sendNickname(); return false;">
            <input type="text" id="nicknameArea" placeholder="Wpisz nickname">
        </form>
    </div>

    <script type="text/javascript">
        var websocketLink = "ws://localhost:8080/room";
        var infoText = document.getElementById("info");
        var websocket = new WebSocket(websocketLink);
        var textArea = document.getElementById("messageArea");
        var nicknameArea = document.getElementById("nicknameArea");
        var messagesArea = document.getElementById("messages");


        websocket.onopen = function (ev) {
            infoText.innerHTML = "Połączono!";
        }

        websocket.onmessage = function (ev) {
           if(!ev.data.startsWith("server:")){
               messagesArea.innerHTML = messagesArea.innerHTML + "<li>" + ev.data + "</li>";
           }else{
               messagesArea.innerHTML = messagesArea.innerHTML + "<li class=\"server_message\">" + ev.data.replace('server:', '') + "</li>";
           }



            messagesArea.scrollTop = messagesArea.scrollHeight; // automatyczny scroll do dołu
        }

        function sendMessage() {
            var text = textArea.value;
            textArea.value = "";
            websocket.send(text);
        }

        function sendNickname() {
            var text = nicknameArea.value;
            nicknameArea.value = "";
            websocket.send("nickname:" + text);
        }

    </script>
</body>
</html>